* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
    
}

body {
    background-color: black;
}

.main {
    background-image: url(bg.jpg);
    background-size: 180% 180%;
    height: 70vh;
    background-size: max(1200px, 100vw);
    background-position: center center;
    position: relative;
}

.box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
    color: white;

}

nav {
    display: flex;
    max-width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height : 100px;

}

nav span {
    position: relative;
    z-index: 1;
}

.b {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.content {
    height: calc(100%-100px);
    font-weight: 500;
    color: white;
    position: relative;
    z-index: 2;
    top: -71px;
    padding-inline: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-family: 'Martel sans', sans-serif;
}
`
.content>:first-child {
    font-weight: 900;
    font-size: 30px;

}

.content>:nth-child(2) {
    font-weight: 300;
    font-size: 25px;

}

.content :nth-child(3) {
    font-weight: 200;
    font-size: 20px;
}

.content input {
    font-size: medium;
    background-color: rgba(53, 51, 51, 0.733);
    padding: 4px;
    border: none;
    padding-right: 14px;
    color: white;

}

.red {
    background-color: red;
    border: red;
    color: white;
    font-size: small;
    padding: 5px;
}

.red:hover {
    background-color: rgb(245, 72, 72);
}

.line {
    background-color: rgb(207 200 200 / 43%);
    height: 6px;
    position: relative;
    top: -4.5px
}

button {
    padding: 3px;
    border-radius: 3px;
    font-weight: 500%;
}

.Sign {
    background-color: black;
    color: white;
    padding: 4px;
    border: 1px solid white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.first {
    padding-top: none;
    padding-bottom: none;
}

.faq h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-bottom: 36px;
}

.faqbox {
    color: white;
    background-color: #333131;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 4px;
    margin: auto;
    justify-content: space-between;
    max-width: 70vw;
    margin-bottom: 15px;
    padding-left: 14px;
    font-family: sans-serif;

}

.line2 {
    background-color: rgb(207 200 200 / 43%);
    height: 6px;
    position: relative;
    top: -42.5px;
    margin-top: 90px;
}

.faq {
    color: white;
    background-color: black;
}

.faqbox:hover {
    background-color: #5a5757;
}

footer {
    max-width: 60vw;
    color: white;
    margin: auto;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 70px;
    padding: 50px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    row-gap: 5px;
}

.footer a {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 760px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 760px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
